label
{
	display: block;
	margin: 3px;
}
.infogather{
	margin: 10px 0px 10px 0px;
}
.contactformtable
{
	border: 1px solid black;
	box-shadow: 
}
input
{
	height: 30px;
	width: 90%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid black;
}
select
{
	height: 30px;
	width: 50%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid black;
}
.btn
{
	padding: 5px;
	text-align: center;
	font-size: 17px;
	width: auto;
	color: white;
	background: #5F9EA0;
	border: none;
	border-radius: 5px;
}
.error
{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}